In [21]:
import pandas as pd
import numpy as np

In [22]:
import os

In [23]:
df = pd.read_csv("D:/MindX/D4E/all_players_stats.csv")
df

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0
621,Wolverhampton Wanderers,37,Adama Traoré,Midfielder/Forward,11,12,1,0,0.0,0.0
622,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0.0,0.0

# Sắp xếp dữ liệu theo thứ tự tăng dần/giảm dần số bàn thắng

select * 
from df
order by Goals asc , Penalties desc

In [24]:
df2 = df.sort_values(by='Goals',ascending=True)
df2

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
465,Norwich City,46,Jonathan Rowe,Midfielder/Forward,0,15,0,0,0.0,0.0
262,Leeds United,33,Leo Hjelde,Defender,1,2,0,0,0.0,0.0
261,Leeds United,17,Hélder Costa,Midfielder/Forward,1,1,0,0,0.0,0.0
533,Watford,8,Tom Cleverley,Midfielder,21,9,0,0,2.0,0.0
259,Leeds United,42,Sam Greenwood,Forward,2,7,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
511,Tottenham Hotspur,7,SON Heung-min,Midfielder/Forward,39,6,24,0,3.0,0.0
367,Manchester City,26,Riyad Mahrez,Midfielder/Forward,31,16,24,7,1.0,0.0
407,Manchester United,7,Cristiano Ronaldo,Midfielder/Forward,35,3,24,3,9.0,0.0
514,Tottenham Hotspur,10,Harry Kane,Forward,47,3,27,4,5.0,0.0
341,Liverpool,11,Mohamed Salah,Midfielder/Forward,44,6,31,6,1.0,0.0

In [25]:
df.sort_values(by=['Goals', 'Penalties'], ascending=[False,True])

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
341,Liverpool,11,Mohamed Salah,Midfielder/Forward,44,6,31,6,1.0,0.0
514,Tottenham Hotspur,10,Harry Kane,Forward,47,3,27,4,5.0,0.0
511,Tottenham Hotspur,7,SON Heung-min,Midfielder/Forward,39,6,24,0,3.0,0.0
407,Manchester United,7,Cristiano Ronaldo,Midfielder/Forward,35,3,24,3,9.0,0.0
367,Manchester City,26,Riyad Mahrez,Midfielder/Forward,31,16,24,7,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
611,Wolverhampton Wanderers,1,José Sá,Goalkeeper,37,0,0,0,3.0,0.0
613,Wolverhampton Wanderers,5,Marçal,Defender,18,1,0,0,3.0,0.0
614,Wolverhampton Wanderers,14,Yerson Mosquera,Defender,1,0,0,0,0.0,0.0
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0

In [26]:
""" Hãy tìm ra cầu thủ nào bị nhiều thẻ vàng nhất, nhiều thẻ đỏ nhất, thi đấu nhiều nhất """
df2 = df.groupby('Player').agg(sum_Apearances = ('Apearances','sum'),
                               sum_YellowCards = ('YellowCards','sum'),
                               sum_RedCards = ('RedCards','sum')).reset_index()

df2

               Player  sum_Apearances  sum_YellowCards  sum_RedCards
0      Aaron Connolly               3              0.0           0.0
1     Aaron Cresswell              41              4.0           2.0
2        Aaron Lennon              20              2.0           0.0
3      Aaron Ramsdale              37              1.0           0.0
4        Aaron Ramsey               0              0.0           0.0
..                ...             ...              ...           ...
608     Yves Bissouma              26             10.0           0.0
609      Zack Steffen               9              1.0           0.0
610      Zidane Iqbal               0              0.0           0.0
611    İlkay Gündogan              32              2.0           0.0
612  Łukasz Fabiański              38              2.0           0.0

[613 rows x 4 columns]

In [27]:
df.groupby(['Player','Position']).agg(sum_Apearances = ('Apearances','sum'),
                               sum_YellowCards = ('YellowCards','sum'),
                               sum_RedCards = ('RedCards','sum')).reset_index()

,Player,Position,sum_Apearances,sum_YellowCards,sum_RedCards
0,Aaron Connolly,Forward,3,0.0,0.0
1,Aaron Cresswell,Defender,41,4.0,2.0
2,Aaron Lennon,Midfielder,20,2.0,0.0
3,Aaron Ramsdale,Goalkeeper,37,1.0,0.0
4,Aaron Ramsey,Midfielder,0,0.0,0.0
...,...,...,...,...,...
608,Yves Bissouma,Midfielder,26,10.0,0.0
609,Zack Steffen,Goalkeeper,9,1.0,0.0
610,Zidane Iqbal,Midfielder,0,0.0,0.0
611,İlkay Gündogan,Midfielder,32,2.0,0.0
612,Łukasz Fabiański,Goalkeeper,38,2.0,0.0

In [28]:
df2[(df2['sum_YellowCards']==df2['sum_YellowCards'].max()) |
    (df2['sum_RedCards']==df2['sum_RedCards'].max()) |
    (df2['sum_Apearances']==df2['sum_Apearances'].max())
    ]

              Player  sum_Apearances  sum_YellowCards  sum_RedCards
1    Aaron Cresswell              41              4.0           2.0
47   Antonio Rüdiger              54             12.0           0.0
117  Conor Gallagher              37             12.0           0.0
183       Ezri Konsa              30              4.0           2.0
205     Granit Xhaka              29             10.0           2.0
257  James Tarkowski              37             12.0           0.0
487     Raúl Jiménez              30              5.0           2.0

In [29]:
max_YellowCards = df2[df2['sum_YellowCards']==df2['sum_YellowCards'].max()]
max_YellowCards

              Player  sum_Apearances  sum_YellowCards  sum_RedCards
47   Antonio Rüdiger              54             12.0           0.0
117  Conor Gallagher              37             12.0           0.0
257  James Tarkowski              37             12.0           0.0

In [30]:
sum_RedCards = df2[df2['sum_RedCards']==df2['sum_RedCards'].max()]
sum_RedCards

              Player  sum_Apearances  sum_YellowCards  sum_RedCards
1    Aaron Cresswell              41              4.0           2.0
183       Ezri Konsa              30              4.0           2.0
205     Granit Xhaka              29             10.0           2.0
487     Raúl Jiménez              30              5.0           2.0

In [31]:
sum_Apearances = df2[df2['sum_Apearances']==df2['sum_Apearances'].max()]
sum_Apearances

             Player  sum_Apearances  sum_YellowCards  sum_RedCards
47  Antonio Rüdiger              54             12.0           0.0

In [42]:
""" Hãy tìm ra cầu thủ thi đấu nhiều nhất của từng CLB """

df3 = df.groupby(['Team']).agg(max_Apearances = ('Apearances','max')).reset_index() 
df4 = df3.merge(df,on='Team', how='right')
a = df4[df4['Apearances']==df4['max_Apearances']][['Team','Player','Apearances']]
a

                         Team               Player  Apearances
0                     Arsenal          Bukayo Saka          40
31                Aston Villa           Matty Cash          40
64                  Brentford       Pontus Jansson          39
119  Brighton and Hove Albion       Robert Sánchez          38
145                   Burnley            Nick Pope          39
178                   Chelsea      Antonio Rüdiger          54
199            Crystal Palace           Marc Guehi          42
242                   Everton      Jordan Pickford          37
271              Leeds United        Illan Meslier          42
303            Leicester City    Kasper Schmeichel          53
312                 Liverpool       Alisson Becker          53
362           Manchester City         João Cancelo          51
384         Manchester United         David De Gea          46
427          Newcastle United            Joelinton          32
435          Newcastle United  Allan Saint-Maximin          32
463              Norwich City          Teemu Pukki          38
499               Southampton    James Ward-Prowse          41
514         Tottenham Hotspur           Harry Kane          47
563                   Watford       Moussa Sissoko          37
590           West Ham United          Declan Rice          48
600   Wolverhampton Wanderers          Conor Coady          41

In [43]:
""" Hãy tìm ra cầu thủ ghi nhiều bàn thắng nhất, với vị trí Defender """
df5 = df.groupby(['Position']).agg(max_Apearances = ('Apearances','max')).reset_index() 
df5

                      Position  max_Apearances
0                     Defender              54
1             Defender/Forward              22
2          Defender/Midfielder              48
3  Defender/Midfielder/Forward              35
4                      Forward              47
5                   Goalkeeper              53
6                   Midfielder              47
7           Midfielder/Forward              46

In [49]:
df5['max_Apearances'][0]

54

In [48]:
df[(df['Position']=='Defender') & (df['Apearances']==df5['max_Apearances'][0])]

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
178,Chelsea,2,Antonio Rüdiger,Defender,54,0,5,0,12.0,0.0

In [47]:
df[df['Position'].str.contains('Defender')]

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
5,Arsenal,34,Granit Xhaka,Defender/Midfielder,29,1,1,0,10.0,2.0
9,Arsenal,3,Kieran Tierney,Defender/Midfielder,24,1,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
613,Wolverhampton Wanderers,5,Marçal,Defender,18,1,0,0,3.0,0.0
614,Wolverhampton Wanderers,14,Yerson Mosquera,Defender,1,0,0,0,0.0,0.0
615,Wolverhampton Wanderers,22,Nélson Semedo,Defender,27,1,1,0,1.0,0.0
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0

In [44]:
df5.iloc[0]

Position          Defender
max_Apearances          54
Name: 0, dtype: object