### Câu 1: Bạn hãy xây dựng một hàm nhận tham số truyền vào là 1 chuỗi ký tự bất kỳ. Hàm kiểm tra và trả về kết quả chuỗi trên là một đoạn password hợp lệ hay không, biết rằng password hợp lệ cần thoả mãn các tiêu chí: 
- Chứa 1 ký tự đặc biệt trong các ký tự !, @, #, $, ^ 
- Chứa ít nhất một ký tự số
- Chứa ít nhất một ký tự chữ cái viết hoa
- Chứa ít nhất một ký tự chữ cái viết thường
- Độ dài từ 8 - 15 ký tự. (0.75đ)

In [48]:
def dodai(x):
    if len(x) > 8 and len(x) < 15:
        return True
    else:
        return False
    
def kytuDB(x):
    special_characters = "!@#$^"
    for char in x:
        if char in special_characters:
            return True
    return False

def kytuNumber(x):
    special_characters = "0123456789"
    for char in x:
        if char in special_characters:
            return True
    return False

def kytuUpper(x):
    return any(char.isupper() for char in x)

def kytuLowwer(x):
    return any(char.islower() for char in x)

password = input()

if dodai(password) == True and kytuDB(password) == True and kytuNumber(password) == True and kytuUpper(password) == True and kytuLowwer(password):
    print('Password hợp lệ')
    print(password)
else:
    print("Password không hợp lệ, cần độ dài 8 đến 15 ký tự, có ít nhất 1 số, 1 chữ hoa, 1 chữ thường, 1 ký tự đặc biệt gồm (!,@,#,$,^)")
    print(password)

Password không hợp lệ, cần độ dài 8 đến 15 ký tự, có ít nhất 1 số, 1 chữ hoa, 1 chữ thường, 1 ký tự đặc biệt gồm (!,@,#,$,^)
A12djah@

## Câu 2: Bạn hãy đọc file dữ liệu với pandas. Và giải quyết các câu sau:
- Bạn hãy lấy ra các đơn hàng thuộc Branch A hoặc C (0.25đ)
- Bạn hãy tìm ra các đơn hàng mua sản phẩm là ‘Health and beauty’ hoặc ‘Sports and travel’ (0.25đ)
- Cột InvoiceID, giá trị được lưu trữ theo dạng XXX-StoreID-XXXX. Bạn hãy tạo 1 dataframe mới gồm các cột như trên file và tạo thêm một cột StoreID được tách từ InvoiceID. Sau đó tính tổng doanh số của từng StoreID đó. (0.25đ)

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(r"C:\Users\hieudd\Downloads\supermarket_sales.csv")
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46,Ewallet,40.35
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,3/2/2019,17:16,Ewallet,973.80
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,2/9/2019,13:22,Cash,31.84
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,2/22/2019,15:33,Cash,65.82
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,2/18/2019,13:28,Cash,618.38

In [22]:
""" Bạn hãy lấy ra các đơn hàng thuộc Branch A hoặc C (0.25đ) """
df[(df['Branch']=='A')|(df['Branch']=='C')]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,2/18/2019,11:40,Ewallet,60.95
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46,Ewallet,40.35
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,2/9/2019,13:22,Cash,31.84
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,2/22/2019,15:33,Cash,65.82
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,2/18/2019,13:28,Cash,618.38

In [23]:
""" Bạn hãy tìm ra các đơn hàng mua sản phẩm là ‘Health and beauty’ hoặc ‘Sports and travel’ (0.25đ) """
df[(df['Product line']=='Health and beauty')|(df['Product line']=='Sports and travel')]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,1/10/2019,17:15,Credit card,72.52
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,3/29/2019,19:21,Cash,713.80
...,...,...,...,...,...,...,...,...,...,...,...,...
986,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,2/18/2019,14:42,Ewallet,29.52
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,1/3/2019,19:08,Credit card,496.00
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,1/28/2019,15:46,Credit card,602.96
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,1/24/2019,18:10,Ewallet,766.00
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46,Ewallet,40.35

In [29]:
""" Cột InvoiceID, giá trị được lưu trữ theo dạng XXX-StoreID-XXXX. Bạn hãy tạo 1 dataframe mới gồm các cột như trên file và tạo thêm một cột StoreID được tách từ InvoiceID. Sau đó tính tổng doanh số của từng StoreID đó. (0.25đ) """
df1 = df.copy()
df1['StoreID'] = df1['Invoice ID'].str.split('-',expand=True)[1]
df1['Revene'] = df1['Unit price'] * df1['Quantity']
df1 = df1.groupby('StoreID').agg(total_sale = ('Revene','sum')).reset_index()
df1

   StoreID  total_sale
0       01     5418.11
1       02     3864.69
2       03     4023.86
3       04     5441.09
4       05     2578.99
..     ...         ...
94      95     3070.69
95      96     4681.04
96      97      916.60
97      98     3706.48
98      99     1627.19

[99 rows x 2 columns]

### Câu 3:  Bạn hãy xây dựng một hàm nhận tham số truyền vào là một danh sách bất kỳ chỉ chứa các số. Hàm tính toán và  trả về số lớn nhì trong danh sách. Với trường hợp danh sách gồm các số bằng nhau, hàm trả về số lớn nhất. Nếu có nhiều giá trị bằng số lớn nhì trong danh sách, hàm trả về 1 giá trị duy nhất. (1.5đ)
- Ví dụ: - Với danh sách [1,1,1,1,1,1] -> Hàm trả về 1
- Với danh sách [1,2,1,1,2,3] -> Hàm trả về 2

In [37]:
ds = input('Nhập dãy số: ')

list_ds = [eval(i) for i in ds]
list_ds1 = list(set(list_ds))
list_ds1.sort(reverse=True)
print('dãy số nhập vào: ', ds)
if len(list_ds1) == 1: 
    print('Số lớn mhất: ',list_ds1[0])
else:
    print('Số lớn thứ 2: ',list_ds1[1])

dãy số nhập vào:  11111
Số lớn mhất:  1